// Element colours
$body-background: $dark-gray;
$site-background: black;

$menu-link-colour: #c0c0c0;
$menu-active-colour: white;

$bright-colour: white;

$aside-background: black;
$aside-font-colour: white;

// Fonts
$large-font-size: $base-font-size * 2;
$small-font-size: $base-font-size * .8;
